<div class="container align-items-center border " style="padding-top:30px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col" style="color:#A1A2A5">Sustainability > SHS</div>
            </div>
            <div class="row justify-content-center">
                <div class="col fs-2">CO2 Emission intensity</div>
                <div class="col fs-2" style="color:#A1A2A5">Jamshedpur</div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-danger fs-5">- 15.2 ( 0.025% )</div>
            </div>
            <div class="row justify-content-center">
                <div class="col"></div>
                <div class="col fs-5" style="color:#A1A2A5">plan</div>
            </div>
            <div class="row justify-content-center">
                <div class="col fs-2">58,588.32 tCO2/tcs</div>
                <div class="col">
                    <div class="row">
                        <div class="col fs-3" style="color:#A1A2A5">58,588.32 tCO2/tcs</div>
                        <div class="col fs-3" style="color: #DBA59E;">0.025 %</div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">15 Dec, 2:54pm IST +hourly</div>
            </div>
        
            <div>
                <canvas id="myChart" width="717px" height="251px" #mychart></canvas>
            </div>
        </div>
        </div>
</div>
